body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.project-idea,
.form-section,
.portfolio {
    margin-bottom: 40px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 10px;
    margin-right: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

/* Add more styling as needed */


#logoimg {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    
}

.container{
    height: 45px;
}